.match-section {
	text-align: center;
}

.match-title {
	text-align: center;
}

.home-team-result {
	margin-right: 10px;
}

.away-team-result {
	margin-left: 10px;
}

.home-team-image, .away-team-image {
	height: 100px;
	width: 100px;
}